$soft-red: hsl(10deg, 79%, 65%);
$cyan: hsl(186deg, 34%, 60%);
$dark-brown: hsl(25deg, 47%, 15%);
$medium-brown: hsl(28deg, 10%, 53%);
$cream: hsl(27deg, 66%, 92%);
$pale-orange: hsl(33deg, 100%, 98%);
$font-size: 18px;
$fw-regular: 400;
$fw-bold: 700;
// :root {
//   --soft-red: `{$soft-red}`;
//   --cyan: $cyan;
//   --dark-brown: $dark-brown;
//   --medium-brown: $medium-brown;
//   --cream: $cream;
//   --pale-orange: $pale-orange;
//   --font-size: $font-size;
//   --fw-regular: $fw-regular;
//   --fw-bold: $fw-bold;
// }
